<%- include('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>


<main>
    <div class="jumbotron">
       <form method="post" >
           <h1>Welcome to SocialPenguin</h1>
           <input type="text" name="email" placeholder="Enter email" class="UN"><br>
           <input type="password" name="password" placeholder="Enter Password" class="PP"><br>

           <button type="submit" class="B1" name="Button1">Login</button>
           <button type="submit" class="B2" name="Button2">Register</button>
       </form>
    </div>
</main>

<%- include('../partials/end.ejs') %>
