<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<main>
    <div class="jumbotron">
       <form method="post" name="Signup">
           <h1>Join SocialPenguin Today</h1>
           Email: <input type="email" name="email"><br>
           Password: <input type="password" name="password"><br>
           <button type="submit" class="B1" name="Button1">Signup</button><br>
           <a href="/users/login" name="HaveaccountButton">Already have an account?</a>
           <input type="hidden" name="_csrf" value="<%- csrfToken %>">
           
           
       </form>
    </div>
</main>

<%- include('../partials/end.ejs') %>