





        <form class="product-form" action="/posts" method="POST">
            <div class="form-control">
                <label for="title">Type your message</label>
                <input type="text" name="caption" id="caption">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>">

            </div>

            <button class="btn" type="submit">Add post</button>
        </form>
