




                <% if (posts.length > 0) { %>
                    <div class="grid">
                        <% for (let post of posts) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                <% if (post.caption !== "") { %>
                                    <h1 class="product__title">
                                        <%= post.caption %>
                                    </h1>
                                    <% } %>
                                    <% if (post.link !== "") { %>
                                    <img src="/<%= post.link%>">
                                    <% } %>
                                </header>

                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No posts Found!</h1>
                        <% } %>
